header, main{
  display:flex;
  font-family: 'Courier New', Courier, monospace;
  flex-direction: column;
  align-items:center
}
button{
  width: 80px;
  font-family: 'Courier New', Courier, monospace;
  
}